<h1><%= @category %></h1>
<hr>
<% if (@posts.count == 0) %>
  Sorry, there are no posts for this category yet.  
  Why not <%= link_to "write one", new_post_path %>?
<% else %>
  <% @posts.each do |post| %>
    <div class="panel small-11 large-9 small-centered columns">
      <div class="post-preview">
        <%= render partial: 'title_and_score', locals: { post: post } %>
      </div>
    </div>
  <% end %>
<% end %>