<h1>New Post</h1>
<h5 class="subheader">
  Just start writing.  What you see is what you get.
</h5>

<hr>

<h1 id="hallo-title" class="dotted editor">
  Post Title
</h1>

<p id="hallo-editor" class="dotted editor">
  Say what's on your mind...
</p>

<a href="#"  id="preview-button" class="button">Toggle Preview</a>

<%= form_for(@post, :html => { :style => 'display:inline;' }) do |f| %>
  <%= f.hidden_field :title, :id => 'h-title-field' %>
  <%= f.hidden_field :body , :id => 'h-body-field' %>

  <%= f.submit :value => 'Save Post', :class => 'button success' %>
<% end %>