<h1>New Post</h1>
<h5 class="subheader">
  Just start writing.  What you see is what you get.
</h5>

<hr>

<%= render :partial => 'post_editor', :locals => {:title => "Post Title", :body => "Say what's on your mind"} %>