<h1>New Post</h1>
<h3 class="subheader">
  Just start writing
</h3>

<hr>

<h1 id="hallo-title">
  Post Title Here
</h1>

<p id="hallo-editor">
  Post Body Here
</p>

<hr>

<a href="#" class="button success">Save Post</a>