<h1>New Post</h1>
<h5 class="subheader">
  Just start writing.  What you see is what you get.
</h5>

<hr>

<h1 id="hallo-title" class="dotted editor">
  Post Title
</h1>

<p id="hallo-editor" class="dotted editor">
  Say what's on your mind...
</p>

<a href="#"  id="preview-button" class="button">Toggle Preview</a>
<a href="#" id="save-button" class="button success">Save Post</a>