<div class="post-body">
  <h1 style="display: inline;">
    <%= @post.title %>
  </h1>
  <a href="<%= edit_post_path(@post.hashed_key) %>">edit</a>

  <hr>

  <div id="post-body-content">
    <%= raw(@post.body) %>
  </div>

</div>


