<div class="post-body">
  <h1>
    <%= @post.title %>
  </h1>

  <hr>

  <div id="post-body-content">
    <%= raw(@post.body) %>
  </div>

  <hr>
  <div>
    Own this post?  <a href="<%= edit_post_path(@post.hashed_key) %>">Click here to edit.</a>
  </div>
</div>


