<h1>About BlogMask</h1>
<hr>

<h3>What is BlogMask</h3>
<p>
  BlogMask is the simplest way to make an anonymous blog post and share it on the internet.  You don't need an account, or even an email address.  Just write, and then share the link.
</p>

<h3>Why would I use BlogMask?  I already have a WordPress/Blogger/Facebook/etc.</h3>
<p>
  Sometimes you just want to say something online, and you don't want it associated with your identity.  Maybe you want to write about a former employer, but don't want to put it on your blog.  Maybe you have some controversial opinions that are better left anonymous.  Or maybe you want to get an honest reaction to a blog post that has nothing to do with who you are.  Privacy is harder to come by every day, BlogMask is for those times when you just want to write off the record.
</p>

<h3>How is BlogMask Anonymous?</h3>
<p>
  We don't store anything about who posts, and we don't track you in any way.  This way, we don't even know who wrote any given post.  Posts are just stored as formatted text and are accessible through a public link.
</p>

<h3>If there are no accounts, how do I control my post?</h3>
<p>
  When you write a post, you set a post-specific password.  At the bottom of any post you will see a link to edit it, which will require entering the password you set.  Make sure to protect this password!  Because we don't track user information, anyone with the password can edit your post just as you can.
</p>

<h3>Who pays for BlogMask</h3>
<p>
  I (Sam) pay to host and maintain BlogMask.  I'll keep it running as long as I can.  If you'd like to donate to support BlogMask, you can do so anonymously using the BitCoin address at the bottom of the page.
</p>
