<h1>Browse by Category</h1>
<hr>

<% Category.all.each_slice(4) do |slice| %>
  <div class="row">
    <% slice.each do |c| %>
      <div class="large-3 columns cat-col">
        <%= link_to c, post_category_path(c) %>
      </div>
    <% end %>
  </div>
<% end %>
