<h1>Welcome to BlogMask</h1>
<h3 class="subheader">
  An <b class="dotted-under">anonymous blogging</b> service, for when you just want to what's on your mind.
  <br />
  <b class="dotted-under">No accounts.</b>  No email address.  <b class="dotted-under">Just write</b>, share, and discuss.
</h3>

<br />
<h4>It's easy to get started:</h4>

<p>
  <div class="t-inline list-circle dotted">1</div>
  <div class="t-inline list-content">
    Write a post.  Make it beautiful using Markdown.
  </div>
</p>

<p>
  <div class="t-inline list-circle dotted">2</div>
  <div class="t-inline list-content">
    Set an admin password for the post.
  </div>
</p>

<p>
  <div class="t-inline list-circle dotted">3</div>
  <div class="t-inline list-content">
    Get a link, share it with the world.
  </div>
</p>

<h2>Ready?</h2>
<a href="<%= new_post_path %>" class="button success">Start Writing</a>

